<div class="products">
     <div class="item">
          <div class="item_img fa fa-images">
               <img src="" alt="Img" id="src"/>
          </div>
          <div class="item_des">
               <h3 class="item_des_name">Item Name</h3>
               <span class="item_des_brief">This is brief about the item</span>

               <span class="item_des_price">100 | Currency: INR</span>
               <div class="item_des_actionBtns">
                    <button class="btn btn_primary" (click)="onEnquiry()">Enquiry</button>
               </div>
          </div>
     </div>
</div>
