<div class="login height_full">
  <div class="loginCont">
    <!-- <h2 class="login_title">आओ चले गौमाता के सानिध्य में ।</h2> -->
    <app-page-title title="Please Login to continue"></app-page-title>
    <form #loginForm="ngForm" (ngSubmit)="submit(loginForm)" [ngClass]="{'loginError': error}">
      <div class="error" *ngIf="error">
        {{error}}
      </div>
      <div class="fieldGroup">
        <input type="text" name="userName" placeholder="Enter user name" required
            (ngModel)="newUser.userName" #userName="ngModel"/>
        <div class="fieldError" *ngIf="newUser.userNameErr">
          {{newUser.userNameErr}}
        </div>
      </div>
      <div class="fieldGroup">
        <input type="password" name="password" placeholder="Enter Password" required
          (ngModel)="newUser.password" minlength="8"
          #password="ngModel"/>  
        <div class="fieldError" *ngIf="newUser.passwordErr">
          {{newUser.passwordErr}}
        </div>
      </div>
      <input type="submit" class="submit btn btn_primary" value="Login" [disabled]="!loginForm.form.valid"/>
    </form>
  </div>
</div>